<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518633803318-9la0sms0kgrhm0f85aq6a0s3o491m1nk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518633803318-9la0sms0kgrhm0f85aq6a0s3o491m1nk</string>
	<key>API_KEY</key>
	<string>AIzaSyCGpnBMlfaby3TAPfxSY3qLaEzXVfh7d-0</string>
	<key>GCM_SENDER_ID</key>
	<string>518633803318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oralytics.oralytics</string>
	<key>PROJECT_ID</key>
	<string>oralytics-oralytics</string>
	<key>STORAGE_BUCKET</key>
	<string>oralytics-oralytics.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518633803318:ios:f529eddad4facf859f5297</string>
</dict>
</plist>